*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Ubuntu', sans-serif; 
font-size: 14px;
color: #333
}

.conteudo{
    width: 80%;
    margin: 0 auto;
    background: white;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}
.info{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.contatos{
    margin-bottom: 30px;
}
.redes-sociais{
    display: flex;
    justify-content: space-between;
     width: 150px;
}
.experiencia {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.esquerda{
    width: 20%;
    text-align: right;
}
.titulo-sessao,
.subtitulo-sessao {
    font-size: 21px;
    text-transform: uppercase;
    margin: 1%;
}
.subtitulo-sessao{
    font-size: 16px;
}
.direita{
    width: 78%;
}
.rodape{
    background: #333333;
    color: #7DFDFF;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}